<h1>Javas#pag1</h1>
<p>Find me in app/views/javas/pag1.html.erb</p>

<a href="http://www.google.com" id="saludar" data-confirm="estas segurisimo?"> di hola </a>
<!-- <script>
  $('saludar').on('click',function(){

  });
</script> -->
<a href="<%= javas_pag2_path %>" data-turbolinks="false" data-remote="true" id="saludo" data-confirm="estas segurisimo?"> di hola </a>
<a href="<%= javas_pag2_path %>" data-turbolinks="false" data-remote="true" id="saludo" data-confirm="estas segurisimo?"> di hola </a>
<button href="<%= javas_pag3_path %>" data-method="POST" type="button" name="button">Press this button</button>
