<section id="stage" class="container-fluid apart-0">

  <div class="stage_back valign-wrapper apart-0 ">
    <div class="valign container-stage">
      <h1 id="title" class="align-center">ideaStash</h1>
      <h3 id="subtitle" class=" align-center">A place for ideas to grow and not be forgotten </h3>
    </div>
    <!-- <br> -->
    <div class="valign container-stage">
      <%= link_to 'Sign in', new_user_session_path, class:"btn blue btn-lg" %>
      <%= link_to 'Register', new_user_registration_path, class:"btn green btn-lg" %>
    </div>
  </div>
</section>

<section id="introduction" class="container-fluid">
  <div class="background_image">

  </div>
  <p id="red">
  </p>

</section>


<section id="tools" class="container-fluid">
z
</section>


<section id="tools" class="container-fluid">
x
</section>
