<section id="stage" class="z-depth-5">

  <div class="stage_back apart-0 ">
    <div class="container-stage">
      <h1 id="title" class="">ideaStash</h1>
      <h3 id="subtitle" class=" ">A place for ideas to grow and not be forgotten </h3>
    </div>
    <!-- <br> -->
    <div class="container-stage">
      <%= link_to 'Sign in', new_user_session_path, class:"btn blue btn-lg" %>
      <%= link_to 'Register', new_user_registration_path, class:"btn green btn-lg" %>
    </div>
  </div>
</section>

<section id="introduction" class="">

  <div class="container">
    <h2 class="t-center" >What is idea stash?</h2>

  </div>

  <div class="row height-auto">
    <div class="col s12 m6 l6 z-depth-2 teal lighten-4">
      <div class="container">
        <h4 class=" ">Lorem ipsum</h4>
        <p>
          Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis.Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis.Praesent venenatis diam non est luctus, eget dictum augue sagittis.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l6 contained-image">

    </div>
  </div>

  <div class="row height-auto">
    <div class="col s12 m6 l6 contained-image">
      <div class="container">

      </div>
    </div>
    <div class="col s12 m6 l6 z-depth-2 teal lighten-4">
      <div class="container">
        <h4>Ornare sapien</h4>
        <p>
          Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis.Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis.Praesent venenatis diam non est luctus, eget dictum augue sagittis.
        </p>
      </div>
    </div>
  </div>

  <div class="row height-auto">
    <div class="col s12 m6 l6 z-depth-2 teal lighten-4">
      <div class="container">
        <h4 class="">Remon indero</h4>
        <p>
          Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis. Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis.Fusce quis ornare sapien. Praesent venenatis diam non est luctus, eget dictum augue sagittis.Praesent venenatis diam non est luctus, eget dictum augue sagittis.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l6 contained-image">
      <div class="container">

      </div>
    </div>
  </div>

</section>


<section id="tools" class="">
  <div class="">
    <h4>Explo</h4>
    <div class="">

    </div>
  </div>

  <div class="">

  </div>

  <div class="">

  </div>
</section>


<section id="tools" class="">

</section>

 <!-- <script type="text/javascript">
   $(document).ready()
 </script> -->
