<section id="stage" class="teal container-fluid">
  <div class="stage_back">
    <h1 id="title">ideaStash</h1>
    <h2 id="subtitle">A place for ideas to grow and not be forgotten </h2>
    <p id="red">

    </p>
    <%= link_to 'Sign in', new_user_session_path, class:"btn blue btn-lg" %>
    <%= link_to 'Register', new_user_registration_path, class:"btn green btn-lg" %>


  </div>
</section>

<section id="introduction" class="container-fluid">




</section>


<section id="tools" class="container-fluid">

</section>


<section id="tools" class="container-fluid">

</section>
