<% unless group.id.nil? %>

<div id="group-<%=group.id%>" class="container idea-panel">
  <div class="idea-title col-xs-12">
    <h3><%= group.name %></h3>
  </div>
  <div class="idea-description col-xs-12">
    <p><%= group.description %></p>
  </div>

  <div class="idea-user col-xs-12">
      <p><%= group.user.username %></p>
  </div>

</div>
<% end %>
