<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>


<section class="apart-size ">
  <div class="row">
    <div class="col z-depth-3 toc-wrapper hide-on-small-only s12 m6 l4">
      <div class="container-chan-left z-depth-3 pinned">
        <div id="group-form-area" class="container">
          <h4>Create a new group</h4>
          <%= render 'form' %>

        </div>
      </div>
    </div>
    <div class="col s12 m6 l8">
      <div class="container">
        <%= render @groups %>
      </div>
    </div>
  </div>


</section>
<br>

</div>
