<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<%= render 'form' %>

<div id="idea-area" class="container-fluid idea-container">
  <%= render @groups %>
</div>


<br>

</div>





<%= link_to 'New Group', new_group_path %>
