<p id="notice"><%= notice %></p>

  <ul id="slide-out" class="apart side-nav fixed z-depth-3 ">
    <li id="category-logo" class="z-depth-4"><h3>Categories</h3></li>
    <li class="" ><a href="#">All</a></li>
    <li class="" ><a href="#">Technology</a></li>
    <li class="" ><a href="#">Health</a></li>
    <li class="" ><a href="#">Business</a></li>
    <li class="" ><a href="#">Outdoors</a></li>
    <li class="" ><a href="#">Home</a></li>
    <li class="" ><a href="#">Other</a></li>

  </ul>
  <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<main class="apart ">
  <div id="main-box" class="row">

    <div id="post-bar" class="z-depth-0">
      <div id="idea-area" class="">

        <%= render @posts_private %>

      </div>
    </div>

  </div>
</main>

<script>

  $(document).ready(function () {
      $('#view-<%= @posts.first.id%>').removeClass('hide');
  });
</script>
