// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.apart-size {
  margin-top: 64px;
}

#group-form-area {
  margin-top: 40px;

}

#group_name {

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-bottom: 0px;
}

#group_card {
  padding:0px 10px;
}

#group_row {
  margin-bottom: 0px;
}

.group_description {
  font-size: 20px;
}

.group_description_text {
  font-size: 16px;
}
