// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 50px;
}

#stage {
  // padding: 0px;
  // margin: 0px;
  background: url('pen_idea.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
.apart-0 {
  margin-top: 160px;
  top: 160px;
}
.stage_back{
 padding-top: 180px;

  height:650px;
  background-color: rgba(0, 0, 0, 0.8);

  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

  -webkit-flex-direction: column;
    -moz-flex-direction: -moz-column;
  flex-direction: column;

  -webkit-align-items: center;
  -moz-align-items: -moz-center;
  align-items: center;
}

.stage_back h3 {
font-size: 2rem;
color: rgb(255, 255, 255);
text-align: center;
}

.stage_back h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.container-stage {
}

.t-center {
  text-align: center;
}

.btn-outline-inverse {
    color: #000;
    background-color: transparent;
    border-color: #cdbfe3;
    z-index: 4;
}

#introduction p {
  font-size: 1rem;
  line-height: 1.8 ;
  text-align: justify;

}

.contained-image {
  background: url('pen_idea.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: inherit;
}

.height-auto {
  height: auto;
}
